autopep8==1.6.0
munch==2.5.0
netron==5.*
numpy==1.19.5
pillow==8.4.0
pycodestyle==2.8.0
pytorch-ignite==0.4.8
toml==0.10.2
torch==1.10.*
torchaudio==0.10.*
torchvision==0.11.*
pretrainedmodels==0.7.4
tqdm==4.62.3
typing-extensions==4.0.1
watermark==2.0.2
notebook==6.4.6
tensorboardX==2.5
tensorboard==2.9.0
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
scikit-learn==0.24.2
